img{
    width: 30%;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 15px;
 }
 
 .alignright {
    display: inline;
    float: right;
    margin-left: 15px;
 }

 h3{
     margin-top: 50px;
     margin-bottom: 50px;
 }